
<style>
  directions{
    font-size: 34px;
  }
</style>

<script type="text/javascript">

    var inprogress = false;
    var startx = 0;
    var starty = 0;

    function do_click(){
        $('#linkto')[0].click();
        var box = $('.lb-nav')[0];
        box.id = 'pbox';

        $('#pbox').click(function(pos) {
            startx = pos.clientX;
            starty = pos.clientY;

            document.addEventListener("mousemove", function(ev){
                if (inprogress == true){
                    return;
                }
                console.log(ev.clientX);
                console.log(ev.clientY);
                console.log('');

                var pos = $("#pbox").offset(); // returns an object with the attribute top and left
                left_boundary = pos.left;
                right_boundary = pos.left + $("#pbox").width();
                bottom_boundary = pos.top + $("#pbox").height();
                top_boundary = pos.top;

                console.log('left: ' + left_boundary + ' right ' + right_boundary + ' bottom' + bottom_boundary);

                if (ev.clientX < left_boundary) {
                    inprogress = true;
                    $("#up").val("0");
                    $("#form").submit();
                    return;
                }

                if (ev.clientX > right_boundary) {
                    inprogress = true;
                    $("#right").val("1");
                    $("form").submit();
                    return;
                }

                if (ev.clientY > bottom_boundary) {
                    inprogress = true;
                    $("#down").val("2");
                    $("form").submit();
                    return;
                }

                if (ev.clientY < top_boundary) {
                    inprogress = true;
                    $("#up").val("0");
                    $("form").submit();
                    return;
                }
            });
        });
    }

    $( document ).ready(function() {
        if ($("#go_back").val() == '1'){
            if (localStorage.getItem('reloaded') != 'true'){
                localStorage.setItem('reloaded', 'true');
                location.href = '/classify'
            }
            else{
                localStorage.setItem('reloaded', 'false');
                do_click()
            }
        }
        else{
            do_click()
        }
    });

    $(document).keydown(function(e) {
        console.log(e.which);
        switch(e.which) {
            case 38: // up
                $("#up").val("0");
                $("form").submit();

            case 39:
                $("#right").val("1");
                $("form").submit();

            case 40: // down
                $("#down").val("2");
                $("form").submit();

            default: return; // exit this handler for other keys
        }
        e.preventDefault(); // prevent the default action (scroll / move caret)
    });
</script>
<br>
<br>

<h5 class="card-title"></h5>

<div class="card text-white bg-primary mb-3 lightbox" style="max-width: 0rem;">
  <div class="card-header"></div>
  <div class="card-body">
    <h5 class="glyphicon glyphicon-arrow-up" style="font-size: 75px"></h5>
    <p id="classtext" class="card-text classtext"><%= @c1 %></p>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="card text-white bg-primary mb-3 lightbox" style="max-width: 0rem;">
  <div class="card-header"></div>
  <div class="card-body">
    <h5 class="glyphicon glyphicon-arrow-right" style="font-size: 75px"></h5>
    <p id="classtext" class="card-text classtext"><%= @c2 %></p>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="card text-white bg-primary mb-3 lightbox" style="max-width: 0rem;">
  <div class="card-header"></div>
  <div class="card-body">
    <h5 class="glyphicon glyphicon-arrow-down" style="font-size: 75px"></h5>
    <p id="classtext" class="card-text classtext"><%= @c3 %></p>
  </div>
</div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<%= link_to(image_tag(attachment_url(@photos.first, :image, :fit, 500, 500, format: 'jpg'), id: 'priyen-img', name: @photos.first.image_id, class: "main-img"), attachment_url(@photos.first, :image, :fit, 500, 500, format: 'jpg'), data: { lightbox: "example-set", title: @photos.first.name }, id: 'linkto') %>


<%= form_tag("/classify_image", method: "post") do %>
  <%= hidden_field_tag(:image_id, @photos.first.image_id) %>
  <%= hidden_field_tag(:up, '') %>
  <%= hidden_field_tag(:right, '') %>
  <%= hidden_field_tag(:down, '') %>
  <%= hidden_field_tag(:go_back, @go_back) %>
  <%= submit_tag("", :type => 'hidden') %>
<% end %>