<!-- This is just the summary page after they classify images -->
<!-- We show a table with image, its classification, and file name. -->
<!-- Also give them download links to zip files to download each classification as a folder of images. -->
<!-- Also provide with instruction on how to re-classify if needed. -->

<br>
<div class="alert alert-success">
  <strong>Success!</strong> All photos have been classified!
</div>

<% @classifications.each do |c| %>
  <br>
  <%= c.size %> '<%= c.name %>' Classifications <%= link_to "Export Zip File", "/download/#{c.id}" %>
<% end %>

<br>
<br>
To reclassify any images, click on the image thumbnail, otherwise export above.
<br>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Image</th>
    <th scope="col">Classification</th>
    <th scope="col">File Name</th>
  </tr>
  </thead>
  <tbody>
  <% @photos.each do |photo| %>
    <tr>
      <th scope="row"> <%= link_to(image_tag(attachment_url(photo, :image, :fit, 100, 100, format: 'jpg')), "/re_classify/#{photo.image_id}") %>
      </th>
      <td><%= photo.classification %></td>
      <td><%= photo.name %></td>
    </tr>
   <% end %>
  </tbody>
</table>