<!-- Here we make a small form to get classifications, and images selected by user to start a classification session. -->
<%= form_for(photo) do |f| %>
  <div class="field">
    <%= f.label :Classifications %>
    <%= f.text_field :name, :size => 50, :class=> "form-control",  :placeholder => 'comma seperated classifications' %>
  </div>

  <div class='field'>
      <%= f.attachment_field :image, multiple: true, :class=> "col-lg-6 col-sm-6 col-12" %>
  </div>

  <% if @photo.image_id? %>
    <%= image_tag attachment_url(@photo, :image, :fit, 500, 500) %>
    <%= f.check_box :remove_image %>
    <%= f.label :remove_image %>
  <% end %>

  <div class="btn btn-default">
    <%= f.submit text="Create Session" %>
  </div>
<% end %>
